@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'WorkSans';
  src: url('./fonts/WorkSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('./fonts/WorkSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('./fonts/WorkSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
} */

@layer base {
  :root {
    --background: 0deg 0% 4%;
    --background-100: 0deg 0% 9%;
    --background-200: 0deg 0% 12%;
    --foreground: 0deg 0% 97%;
    --foreground-100: 0deg 0% 62%;
    --foreground-200: 0deg 0% 50%;
    --primary: 172deg 76% 53%;

    /* NOT USED*/
    --foreground-dimmed: 215deg 19% 51%;
  }

  * {
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl mb:text-5xl tb2:text-6xl font-bold;
  }

  h2 {
    @apply text-2xl tb2:text-4xl font-bold;
  }

  h3 {
    @apply text-lg tb2:text-2xl font-semibold;
  }

  h4 {
    @apply text-foreground-100;
  }
}

@layer utilities {
  .opaque-list > * {
    @apply duration-300;
  }

  .opaque-list:hover > * {
    @apply tb2:opacity-50;
  }

  .opaque-list:hover > *:hover {
    @apply tb2:opacity-100;
  }

  .link {
    @apply text-blue-500 hover:text-blue-600;
  }

  .card-thumbnail {
    @apply duration-300;
  }

  .card:hover .card-thumbnail {
    @apply scale-110;
  }

  .icon-link:hover .icon-link__icon {
    @apply scale-110 shadow-gradient;
  }

  .icon-link:hover .icon-link__label {
    @apply text-foreground;
  }

  .arrow-link span {
    @apply text-foreground-100 duration-200;
  }
  .arrow-link:hover span {
    @apply text-foreground;
  }

  /* HTML: <div class="loader"></div> */
  .loader {
    width: 18px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(farthest-side, #171717 94%, #0000) top/2px 2px no-repeat,
      conic-gradient(#0000 30%, #171717);
    -webkit-mask: radial-gradient(
      farthest-side,
      #0000 calc(100% - 4px),
      #000 0
    );
    animation: l13 1s infinite linear;
  }
  @keyframes l13 {
    100% {
      transform: rotate(1turn);
    }
  }
}
